main> div{
    padding: 200px 0px;
    background-color: #FBBBCD;
    text-align: center;
}


header{
    margin-bottom: 0px;
}


h1{
    font-size: 45px;
    font-weight: 400;
    font-family: "Gloria Hallelujah", sans-serif;
}

h2{
    font-size: 18px;
    font-family: "Noto Sans",sans-serif;
    color: #333333;
    font-weight: 400;
    margin-bottom: -10px;
}

#blog{
    font-size: 14px;
    Line-height: 21px;
    color: #7A7A7A;
    text-align: center;
    padding: 20px 0px;
}

section{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 20px;
    padding: 0px 15px 100px 15px;
}

section img{
    width: 100%;
    height: 463px;
    object-fit: cover;
}

#dateArt, p{
    font-size: 14px;
    color: #9C9C9C;
}

#readMoreActu{
    font-size: 14px;
    color: #605BE5;
    font-weight: 400;
}

p{
    padding: 5px 0px;
}

#afficherPlus{
    background-color: #605BE5;
    border-radius: 3px;
    color: white;
    border: #605BE5;
    width: fit-content;
    grid-column: 2/3;
    margin:  40px auto;

}

@media  screen and (max-width:1024px) {
    section{
        grid-template-columns: 1fr;
    }

    #afficherPlus{
        grid-column: 1;
    }
}