*, *::before, *::after {
  box-sizing: border-box;
}


span{
    display: flex;
}


h1{
    font-size: 45px;
    font-weight: 400;
    font-family: "Gloria Hallelujah", sans-serif;
}


h2{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 20px;
}

i{
    color: #CC3900;
    font-size: 16px;
    padding: 30px 0px;
}

section{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    background-image: url(../IMG/formeBG.png);
    background-repeat: no-repeat;
    background-position: right;
}

p{
    padding: 20px 0px;
}

#textContact{
    max-width: 550px;
}

form{
    max-width: 450px; 
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input, textarea{
  width: 100%;
  border: solid 1px #818A91;
  border-radius: 3px;
  padding: 10px;
}

textarea{
    resize: none;
}

::placeholder{
    color: #7A7A7A;
}

input[type=submit]{
    background-color: #FBBBCD;
    color: white;
    border: solid 1px #FBBBCD;
    transition: all ease-in-out 0.2s;

}

input[type=submit]:hover{
    background-color: #CC3900;
    color: white;
    border: solid 1px #CC3900;
    transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1024px){
    section{
        grid-template-columns: 1fr;
    }
    
    #textContact{
        margin: auto;
    }    
    
    form{
        margin: auto;
        padding: 100px 0px;
    }
}

@media screen and (max-width: 720px){

    label,span , h1,p{
        margin: 0px 5px;
    }
}