h1 {
    font-size: 45px;
    line-height: 45px;
    font-family: "Gloria Hallelujah",sans-serif;
    text-align: center;
    margin-bottom: 100px;
} 

h2 {
    font-size: 28px;
}


section{
    max-width: 1440px;
    margin: auto;
    padding: 0px 15px;
    padding-bottom: 100px;
}
section article{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    text-align: center;

}

section div{
    max-height: 440px;
}

#titreSpe{
    padding-top: 75px;
}

@media  screen and (max-width:1024px) {
    section article{
        grid-template-columns: 1fr 1fr;
    }

}

@media  screen and (max-width:720px) {
    section article{
        grid-template-columns: 1fr ;
    }

}