@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* #region----------------General----------------- */

    *{
        margin: 0;
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: "Gloria Hallelujah", sans-serif;

    }

    .orange{
        color: #CC3900;
    }

    a{
        transition: all ease-in-out 0.2s;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    a:hover{
        transition: all ease-in-out 0.2s;
        color: #CC3900;
    }

    #iRéseaux{
        font-size: 25px;
    }

    .linkRéseaux{
        color: #CC3900;
        transition: all ease-in-out 0.2s;
        font-size: 25px;
    }

    .linkRéseaux:hover{
        color: black;
        transition: all ease-in-out 0.2s;

    }

    ul{
        list-style: none;
    }

    .lienParagraphe{
        font-weight: 400;
    }

  
/* #endregion----------------General----------------- */


/* #region-----------------Main---------------------- */



/* #endregion-----------------Main---------------------- */


/* #region-----------------Header--------------------- */

    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        align-items: center;
        padding: 10px;
    }

    header ul{
        display: flex;
        gap: 40px;
    }

    header img{
        width: 180px;
    }

    header div{
        display: flex;
        gap: 20px;
    }

    #burgerMenu{
        display: none;
    }
/* #endregion-----------------Header--------------------- */


/* #region-----------------Footer-------------------- */

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        align-items: center;
        padding: 10px;
    }

    footer ul{
        display: flex;
        gap: 40px;
    }

    footer img{
        width: 180px;
    }

    footer div{
        display: flex;
        gap: 20px
    }

    footer #navFooter{
        display: grid;
        text-align: center;
    }

/* #endregion-----------------Footer-------------------- */







