@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* #region----------------General----------------- */

    *{
        margin: 0;
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
    }

    h1{
        font-family: "Noto Sans", sans-serif;
    }

    h2 {
        font-size: 45px;
        line-height: 45px;
    } 

    h3 {
        font-size: 28px;
    }

    h2,h3,h4,h5,h6{
        font-family: "Gloria Hallelujah", sans-serif;

    }

    .orange{
        color: #CC3900;
    }

    a{
        transition: all ease-in-out 0.2s;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    a:hover{
        transition: all ease-in-out 0.2s;
        color: #CC3900;
    }

    #iRéseaux{
        font-size: 25px;
    }

    .linkRéseaux{
        color: #CC3900;
        transition: all ease-in-out 0.2s;
        font-size: 25px;
    }

    .linkRéseaux:hover{
        color: black;
        transition: all ease-in-out 0.2s;

    }

    ul{
        list-style: none;
    }

    .lienParagraphe{
        font-weight: 400;
    }

    .btnRedirect{
        font-weight: 500;
        padding: 15px 25px;
        border: solid 1px #FBBBCD;

    }

    .btnRedirect:hover{
        background-color: #FBBBCD;
    }

  
/* #endregion----------------General----------------- */


/* #region-----------------Main---------------------- */

    #sectionBienvenue{
        display: grid;
        grid-template-columns:60% 1fr;
        max-width: 1440px;
        margin: auto;
        align-items: center;
        padding: 40px 0px;
    }

    #sectionBienvenue #bienvenueTitle{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    #bienvenueTitle hr{
        height: 1px;
        width: 50px;
        border: none;
        background-color: #CC3900;
    }

    #bienvenueTitle h1{
        margin: 0;
        text-transform: uppercase;
        padding: 20px 0px;
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap; 
    }

    #sectionBienvenue div{
        max-width: 500px;
    }

    #sectionBienvenue p{
        padding: 20px 0px 60px 0px;
    }

    #bgForme{
        background-image: url("../IMG/formeBG.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 45%;
    }







    #sectionGalerie{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 100px 0px;
    }

    #sectionGalerie article{
        max-width: 650px;
        margin: auto;
        padding: 150px 0px;
    }

    #sectionGalerie p{
        padding: 10px 0px;
        font-size: 18px;
    }

    #sectionGalerie h2{
        padding-bottom: 40px;
    }

    #aProposGalerie {
        background-color: #FBBBCD;
    }

    #divGalerie{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 390px;
        gap: 10px;
        padding: 10px;
    }

    #divGalerie img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #coucher {
        grid-column: 1 / 3; /* prend 2 colonnes */
        grid-row: 2 ;   
    }
    
    #Brigitte{
        grid-column: 3 / 5; /* prend 2 colonnes */
        grid-row: 2 ;    
    }


    #editGallery{
        grid-column: 2 / 3;
        margin-left: 17px;
        text-decoration: underline;
    }


    #sectionOeuvres div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 300px;
        text-align: center;
        gap: 20px;
    }

    #sectionOeuvres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        max-width: 1440px;
        margin: auto;
    }

    #sectionOeuvres img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #sectionArtistes{
        background-color: #F7F7F7;
        padding: 150px 0px;
    }


    #sectionArtistes h2{
        text-align: center;
        margin-bottom: 70px;
    }

    #sectionArtistes h3{
        padding: 10px 0px;
    }

    #sectionArtistes #gridArtistes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: auto;
        max-width: 1440px;
        gap: 20px;
        text-align: center;
    }

    #artistesSocials{
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
    }

    #sectionArtistes img{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }


    #sectionActualite p {
        padding: 10px 0px;
    }

    #sectionActualite{
        padding: 100px 0px;
    }

    #sectionActualite img{
        width: 100%;
    }

    #sectionActualite {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        max-width: 1440px;
        margin: auto;
    }

    #sectionActualite #date{
        font-size: 14px;
    }

    #sectionActualite h3{
        font-size: 18px;
    }

    #sectionActualite #gridActualite{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: auto;
        max-width: 1440px;
        gap: 20px;
    }


    #sectionContact{
        background-color: #CC3900;
        padding: 200px 0px;
    }

    #sectionContact div{
        text-align: center;
        color: white; 
        max-width: 800px;
        margin: auto;
    }

    #sectionContact p{
        padding: 40px 0px;
    }

    #sectionContact a{
        color: white;
    }

    #sectionContact a:hover{
        color: #CC3900;
    }

/* #endregion-----------------Main---------------------- */


/* #region-----------------Header--------------------- */

    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        align-items: center;
        padding: 10px;
        margin-bottom: 100px;
    }

    header nav{
        padding-right: 230px;
    }

    header ul{
        display: flex;
        gap: 40px;
    }

    header img{
        width: 180px;
    }

    header div{
        display: flex;
        gap: 20px;
    }

    #burgerMenu{
        display: none;
    }
/* #endregion-----------------Header--------------------- */


/* #region-----------------Footer-------------------- */

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        align-items: center;
        padding: 10px;
        margin: 50px auto;
    }

    footer ul{
        display: flex;
        gap: 40px;
    }

    footer img{
        width: 180px;
    }

    footer div{
        display: flex;
        gap: 20px
    }

    footer #navFooter{
        display: grid;
        text-align: center;
    }

    footer #linkStorycom{
        font-family: "Roboto",sans-serif;
    }

/* #endregion-----------------Footer-------------------- */







